/venv
/stereo_vison_3d_play/.idea
/stereo_vison_3d_play/cmake-build-debug
/orb_extraction_cv/cmake-build-debug
/orb_extraction_cv/.idea
/epipoloar_pose_estimation/.idea
/epipoloar_pose_estimation/cmake-build-debug

/triangulation_molecular_point_cloud/cmake-build-debug
/triangulation_molecular_point_cloud/.idea

/pose_estimation_3d_2d/cmake-build-debug
/pose_estimation_3d_2d/.idea

/Stereo_slam_/cmake-build-debug
/Stereo_slam_/.idea

/cpp_setup/build

/.vscode